@import url(./styles.css);

#article-info {
  margin-bottom: 48px;
}

article section {
  margin-top: 48px;
}

article section, #article-info {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

#news {
  padding-top: 0;
}

#news .section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacingSmall);
  padding-left: 0;
  padding-right: 0;
}

#news .card-container {
  padding: 0 var(--spacingMedium);
}

#news h2 {
  margin: 0;
  font-size: var(--fontSizeHuge);
}
