@import url(./styles.css);

#hero {
  position: relative;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;

  color: var(--primaryFg);
  background-color: var(--secondaryFg);
  background-image: none;
}

#hero-vid {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  height: 100%;
  min-width: 100%;
}

#header-panel {
  position: absolute;
  right: -120px;
  height: 100%;
  width: 380px;
  bottom: 0;

  background-color: var(--primaryBgAlpha);
  backdrop-filter: var(--blur);
  transform: var(--skew);
}

#header-panel-logomark {
  position: absolute;
  opacity: 0.1;
  right: 48px;
  top: 48px;
  height: 264px;
}

#header-agent {
  position: absolute;
  z-index: 0;
  right: -32px;
  bottom: -140px;
}

#header-agent-img {
  height: 720px;
}

#header-content {
  justify-content: center;
  padding: 0 var(--spacingMedium) 0;
  height: 100%;
}

#hero .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin-left: var(--spacingMedium);
}

#hero .section-content img {
  margin-bottom: 20px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section h2 {
  font-size: var(--fontSizeHuge);
}

.cta {
  font-size: var(--fontSizeLarge);
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: var(--spacingMedium);
}

#news .section-container {
  flex-direction: column;
  gap: var(--spacingSmall);
  padding-left: 0;
  padding-right: 0;
}

#news .card-container {
  padding: 0 var(--spacingMedium);
  grid-template-columns: repeat(3, minmax(260px, 1fr));
}

#news h2 {
  margin: 0;
}

#gameplay-vid {
  --cornerClipAmt: 64px;
  width: 100%;
  max-width: 400px;
  clip-path: polygon(
    0 var(--cornerClipAmt),
    calc(tan(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 0,
    100% 0,
    100% calc(100% - var(--cornerClipAmt)),
    calc(100% - tan(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 100%,
    0 100%
  );
}

#agents-wrapper,
#map-wrapper {
  width: 100%;
}

#agents-wrapper {
  max-width: 400px;
}

#map-wrapper {
  max-width: 440px;
}

#agents-img,
#map-img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#agents-img {
  max-width: 480px;
  margin-left: -32px;
}

#map-img {
  max-width: 600px;
}

@media (max-width: 768px) {
  #header-content {
    align-items: center;
  }

  #header-panel,
  #header-agent {
    display: none;
  }

  #hero .section-content {
    margin: 0;
  }

  .reverse-section .section-container {
    text-align: right;
  }

  .reverse-section .section-container .button {
    float: right;
  }

  :is(#meet-the-agents, #know-the-maps) .section-container {
    padding-bottom: 0;
  }

  #agents-img,
  #map-img {
    position: relative;
  }

  #agents-wrapper {
    max-width: unset;
  }

  #agents-img {
    margin-left: auto;
    margin-right: auto;
  }

  #map-wrapper {
    width: calc(100% + var(--spacingMedium) * 2);
    max-width: unset;
    margin-right: calc(var(--spacingMedium) * -2);
  }

  #map-img {
    max-width: unset;
  }
}
