@import url(./styles.css);

.section h2 {
  font-size: var(--fontSizeHuge);
}

#header-content {
  flex-direction: row;
  align-items: center;
  gap: var(--spacingMedium);
}

#header-minimap {
  z-index: 5;
}

#header-minimap-img {
  --cornerClipAmt: 64px;
  max-width: 360px;
  clip-path: polygon(
    0 var(--cornerClipAmt),
    calc(tan(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 0,
    100% 0,
    100% calc(100% - var(--cornerClipAmt)),
    calc(100% - tan(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 100%,
    0 100%
  );
}

#images .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacingMedium);
}

#images .carousel {
  max-width: 720px;
}

@media (max-width: 768px) {
  #header-content {
    flex-direction: column;
  }

  #images .section-container {
    flex-direction: column;
    gap: 0;
  }
}
