@font-face {
  src: url("../resources/font/Exo2-Regular.ttf");
  font-family: "Exo 2";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../resources/font/Exo2-Italic.ttf");
  font-family: "Exo 2";
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("../resources/font/Exo2-Bold.ttf");
  font-family: "Exo 2";
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url("../resources/font/Exo2-BoldItalic.ttf");
  font-family: "Exo 2";
  font-weight: bold;
  font-style: italic;
}

:root {
  --primaryFg: #eae9e2;
  --primaryFgDark: #7186ae;
  --primaryBg: #242b3e;
  --primaryBgAlpha: rgba(36, 43, 62, 0.75);
  --primaryBgTransparent: rgba(36, 43, 62, 0);
  --primaryBgMedium: #181e2b;
  --primaryBgDark: #0f1115;
  --primaryBgDarkAlpha: rgba(15, 17, 21, 0.75);
  --primaryBgDarkTransparent: rgba(15, 17, 21, 0);
  --primaryBgLight: #394567;
  --primaryBgLightAlpha: rgba(57, 69, 103, 0.75);
  --secondaryFg: #181a20;
  --secondaryBg: #eeede7;
  --accentFg: #ffec8c;
  --accentFgDark: #bca50d;
  --accentBg: #e8d030;
  --accentBgDark: rgb(122, 110, 0);
  --errorFg: #ff6e6e;
  --font: "Exo 2", sans-serif;
  --transDur: 0.1s;
  --transDurLong: 0.2s;
  --transEase: ease-in-out;
  --transAll: all var(--transDur) var(--transEase);
  --skewAmt: -20deg;
  --skew: skew(var(--skewAmt));
  --skewInv: skew(calc(var(--skewAmt) * -1));
  --blur: blur(8px);
  --borderSize: 2px;

  --fontSizeHeader: 72px;
  --fontSizeHuge: 54px;
  --fontSizeLarger: 32px;
  --fontSizeLarge: 20px;
  --fontSizeNormal: 18px;
  --fontSizeSmall: 14px;
  --fontSizeTiny: 12px;

  scroll-behavior: smooth;
  color-scheme: dark;
}

* {
  scroll-margin-top: 96px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--primaryFg);
  background-color: var(--primaryBgDark);
  font-family: var(--font);
  font-size: var(--fontSizeNormal);
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  margin-bottom: 32px;
}

h2 {
  margin-bottom: 16px;
}

p,
ul,
ol {
  margin: 16px 0;
  line-height: 1.6;
}

button {
  border: none;
  font: inherit;
}

figure {
  margin: 32px 0px;
}

figure img {
  display: block;
  width: 100%;
}

a:hover {
  text-decoration-thickness: 3px;
}

a:is(:focus, :active) {
  color: var(--secondaryFg);
  background-color: var(--accentBg);
}

#top-nav {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 24px;
  right: 24px;
  top: 16px;
  z-index: 10;
  max-width: 1215px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  background-color: var(--primaryBgDarkAlpha);
  backdrop-filter: var(--blur);
  transform: var(--skew);
}

#top-nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  transform: var(--skewInv);
}

#sidebar-button {
  display: none;
  position: absolute;
  left: 16px;
  padding: 0 4px;
  height: 32px;

  color: var(--primaryFgDark);
  background: none;
  transition: var(--transAll);
}

#sidebar-button:is(:focus, :active) {
  color: var(--accentBg);
}

#sidebar-button svg {
  height: 100%;
}

#sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: -240px;
  width: 100%;
  max-width: 240px;
  height: 100vh;
  padding-top: 64px;

  background-color: var(--primaryBg);
  backdrop-filter: var(--blur);
  transition: var(--transAll);
}

#sidebar-overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  background-color: var(--primaryBgDarkAlpha);
  transition: var(--transAll);
}

#sidebar-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

#sidebar-links {
  display: flex;
  flex-direction: column;
  border-top: var(--borderSize) solid var(--primaryBgLight);
}

#sidebar-links .button {
  width: 100%;

  transform: none;
  background: none;
  border-width: 0 0 var(--borderSize) 0;
  border-color: var(--primaryBgLight);
}

#sidebar-links .button span {
  transform: none;
}

#sidebar-links .button::before {
  left: -10px;
  transform: var(--skew);
}

#sidebar-links .button:not(.disabled):is(:active, :focus, :hover)::before {
  width: 110%;
}

#sidebar-links .button.disabled {
  background-color: var(--primaryBgLight);
}

#top-nav-logo {
  display: flex;
  gap: 12px;
  align-items: center;
  transform: var(--skewInv);
  margin-left: 32px;

  transition: var(--transAll);
}

#top-nav-logo:not(:active, .disabled):is(:hover, :focus) {
  transform: var(--skewInv) scale(1.05);
}

#top-nav-logo:is(:active, :focus) {
  background: none;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 12px 16px;
  overflow: hidden;

  color: var(--primaryFg);
  font-size: var(--fontSizeLarge);
  font-weight: bold;

  background-color: var(--accentBgDark);
  border: var(--borderSize) solid var(--accentBg);
  transform: var(--skew);
  transition: var(--transAll);
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--accentBg);
  transition: var(--transAll);
}

.button:not(.disabled, :disabled):hover {
  cursor: pointer;
}

.button:not(.disabled, :disabled):is(:hover, :focus),
.button:not(.disabled, :disabled):active {
  color: var(--secondaryFg);
  transition: var(--transAll);
}

.button:not(.disabled, :disabled):active {
  border-color: var(--accentFg);
}

.button:not(.disabled, :disabled):is(:hover, :focus)::before,
.button:not(.disabled, :disabled):active::before {
  width: 100%;
  transition: var(--transAll);
}

.button:not(.disabled, :disabled):active::before {
  background-color: var(--accentFg);
}

#top-nav-links .button {
  background: none;
}

#top-nav-links .button::before {
  height: 0%;
  width: 100%;
}

#top-nav-links .button:not(.disabled, :disabled):is(:hover, :focus)::before {
  height: 100%;
}

.button > * {
  transform: var(--skewInv);
  transition: transform var(--transDur) var(--transEase);
}

.button:not(.disabled, :disabled, :active):is(:hover, :focus) > * {
  transform: var(--skewInv) scale(1.1);
}

#top-nav-links .button {
  height: 100%;
  border-width: 0 0 0 var(--borderSize);
  border-color: var(--primaryBg);
}

#top-nav-links .button:not(.disabled, :disabled):active {
  border-color: var(--primaryBg);
}

#top-nav-links .button:is(.disabled, :disabled) {
  background-color: var(--primaryBg);
}

a.button {
  text-decoration: none;
}

.section {
  display: flex;
  justify-content: center;
  padding: 36px;

  background-image: url("../resources/img/background-dark.svg");
  background-size: cover;
  background-attachment: fixed;
}

.secondary-section {
  color: var(--secondaryFg);

  background-color: var(--secondaryBg);
  background-image: url("../resources/img/background-light.svg");
}

.secondary-section .section-container {
  background-color: var(--secondaryBg);
}

.reverse-section .section-container {
  flex-direction: row-reverse;
}

main header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding-top: 96px;

  color: var(--secondaryFg);

  background-color: var(--secondaryBg);
  background-image: url("../resources/img/background-light.svg");
  background-size: cover;
  background-attachment: fixed;
}

main header.dark {
  color: var(--primaryFg);
  text-shadow: 0 2px 8px var(--primaryBgDark);
}

#header-bg {
  position: absolute;
  top: 0;
  z-index: 0;

  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

#header-overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    var(--primaryBgDarkTransparent),
    var(--primaryBgDark)
  );
}

#breadcrumbs-container {
  margin-bottom: auto;
  z-index: 5;
  width: 100%;
  max-width: 1080px;
  padding: 0 64px;
}

#breadcrumbs-container ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#breadcrumb a {
  color: var(--secondaryFg);
}

header.dark #breadcrumb a {
  color: var(--accentFg);
}

header.dark #breadcrumb a:is(:focus, :active) {
  color: var(--secondaryFg);
}

#breadcrumb:not(:last-child)::after {
  content: ">";
  color: var(--primaryFgDark);
  margin: 0 4px;
}

#header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 5;
  width: 100%;
  max-width: 1080px;
  padding: 36px 64px;
}

#header-content h1 {
  margin: 0;

  font-size: var(--fontSizeHeader);
}

#header-content p {
  max-width: 600px;
}

.section-container {
  --cornerClipAmt: 128px;
  width: 100%;
  max-width: 1080px;
  position: relative;
  gap: 64px;
  padding: 64px;
  overflow: hidden;

  clip-path: polygon(
    0 var(--cornerClipAmt),
    calc(sin(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 0,
    100% 0,
    100% calc(100% - var(--cornerClipAmt)),
    calc(100% - sin(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 100%,
    0 100%
  );
  background-color: var(--primaryBg);
}

.section-content {
  height: 100%;
  width: 100%;
}

.section h2 {
  margin-top: 0;
}

.section-content .button {
  margin-top: 32px;
}

.section-content.center {
  text-align: center;
  align-items: center;
}

footer {
  padding: 32px 0;
  font-size: var(--fontSizeTiny);
  text-align: center;
}

footer p {
  margin: 6px 0;
}

#inspiration {
  color: var(--primaryFgDark);
  margin-top: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;
}

.card {
  --cornerClipAmt: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  clip-path: polygon(
    0 var(--cornerClipAmt),
    calc(sin(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 0,
    100% 0,
    100% calc(100% - var(--cornerClipAmt)),
    calc(100% - sin(var(--skewAmt)) * -1 * var(--cornerClipAmt)) 100%,
    0 100%
  );
  background-color: var(--primaryBgDark);

  color: var(--primaryFg);
  text-decoration: none;

  transition: var(--transAll);
}

.card:is(:focus, :active) {
  color: var(--primaryFg);
  background-color: var(--primaryBgDark);
}

.card-img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  display: block;
  width: 100%;
  object-fit: cover;
  z-index: 5;

  transition: all var(--transDurLong) ease-in-out;
}

.card:not(:active):is(:hover, :focus) .card-img img {
  transform: scale(1.1);
}

.card-content {
  position: relative;
  padding: 20px;
  text-align: left;
  z-index: 1;
  flex-grow: 1;
}

.card-content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: -10%;
  top: 0;
  z-index: -1;

  background-color: var(--primaryBgMedium);
  transform: var(--skew);
  transition: var(--transAll);
}

.card:is(:hover, :focus) .card-content::before {
  width: 115%;
}

.card:active .card-content::before {
  background-color: var(--primaryBgLight);
}

.card-content h2,
.card-content h3 {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: var(--fontSizeNormal);
}

.card-content p {
  margin: 8px 0;

  font-size: var(--fontSizeSmall);
}

.card-info {
  color: var(--primaryFgDark);
  font-size: var(--fontSizeTiny);
  transition: var(--transAll);
}

.article-type {
  color: var(--accentFg);
}

.sep::after {
  content: "|";
  font-weight: bold;
  color: var(--primaryFgDark);
  padding: 0 8px;
}

@media (max-width: 768px) {
  :root {
    --fontSizeHeader: 36px;
    --fontSizeHuge: 36px;
    --fontSizeLarger: 24px;
    --fontSizeLarge: 18px;
    --fontSizeNormal: 16px;
    --fontSizeSmall: 12px;
    --fontSizeTiny: 10px;
  }

  #top-nav {
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
  }

  #top-nav-links {
    display: none;
  }

  #top-nav-logo {
    transform: none;
    margin: 0;
  }

  #top-nav-logo:not(:active, .disabled):is(:hover, :focus) {
    transform: scale(1.05);
  }

  #sidebar {
    display: block;
  }

  #sidebar.open {
    left: 0;
  }

  #sidebar-overlay {
    display: block;
  }

  #sidebar-overlay.open {
    opacity: 1;
    pointer-events: unset;
  }

  #sidebar-button {
    display: block;
  }

  #top-nav-logotype {
    display: none;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }
}
